[Desktop Entry]
Type=Application
Name=Deck
Comment=Draw unseen cards at random from .deck files
Exec=deck %f
Icon=io.github.deck.Deck
Terminal=false
Categories=Utility;Education;
StartupWMClass=io.github.deck.Deck
MimeType=application/x-deck;
