[Desktop Entry]
Type=Application
Name=Deck
Comment=Draw unseen cards at random from .deck files
Exec=deck
Icon=applications-games
Terminal=false
Categories=Utility;Education;
StartupWMClass=io.github.deck.Deck
